<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'sns/reset.css' %}">
    <link rel="stylesheet" href="{% static 'sns/settings.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>設定</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>設定</h1>
        </header>

        <div class="grid">
            <nav class="side card">
                <div class="item active">アカウント</div>
                <div class="item">プロフィール</div>
                <div class="item">通知</div>
                <div class="item">プライバシー</div>
                <div class="item">セキュリティ</div>
                <div class="item">基本情報</div>
            </nav>
        </div>
    </div>
</body>