{% extends 'base.html' %}


{% load static %}

{% block title %}アプリ一覧{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h4 class="card-title">アプリ一覧</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'work10:todo_list' %}">TODO (work10)</a></li>
            <li class="list-group-item"><a href="{% url 'tracker:index' %}">健康管理アプリ</a>
            <li class="list-group-item"><a href="/admin/">管理サイト</a></li>
        </ul>
    </div>
</div>
{% endblock %}